dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
t
.*.swp
prof.*
__pycache__
log
test.md
*.pdf
test
*.log
charactersheet.*
*.diff
*.triples
grog.md
sylvain.md
marcus.md
*.ps
marcus
prof0*
output
*.ttl*.md
valentin.md
*.html
/*.md
/*.json
Hibernia
bin
